body {
    background-color: #f0f8ff;
}

.input-select-text, .input-select-number {
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid;
}

.input-select-text {
    width: 100%;
    border-color: #ccc;
}

.input-select-number {
    width: 50%;
    border-color: #ccf;
    padding: 6px 10px;
    margin: 4px 0;
    border-radius: 3px;
}

.input-submit {
    width: 50%;
    height: 50px;
    background-color: #ff8c00;
    color: white;
    padding: 6px 10px;
    margin: 30px;
    display: block;
    border: 50px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}

.input-file {
    width: 100%;
    background-color: #ddd;
    color: white;
    text-align: center;
}

.center-text {
    text-align: center;
}

h1 {
    color: #ff8c00;
}